.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.player-wrapper + .player-wrapper {
  margin-top: -5rem;
}


.react-player {
  position: absolute;
  top: 1.25em;
  left: 5%;
}

@media (max-width: 1168px){
  .react-player {
    position: relative;
    top: -200px;
    left: 0%;
  }
}